<div class="card">
    <div class="card-body">    
      <h4 class="card-title">{{data.titulo  | uppercase}}</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{data.fechaCreacion  | date: 'd/M/y'}}</h6>   
      <p class="card-text">{{data.contenido}}</p>   
      <div class="row ml">
        <div class="col">
          <button (click)="borrarEntrada()" [ngClass]="{'btn-danger': this.servicio.getEstilo(), 'btn-success': !this.servicio.getEstilo()}">Deleted</button> </div>
        </div>
      </div>
    </div> 
